body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.opcao {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.opcao:hover {
    background-color: #d0d0d0;
}